html {
	background: #F9F5F6;
}
.custom-nav {
	background-color: #F9F5F6;
}

.middle {
	height:90vh;
	background-image: url('./images/cherry_blossom_bg.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	/* flex-direction: column; */
}

.blank {
	height: 40vh;
}
.middle h1 {
	font-family: cursive;
	font-size: 55px;
	font-weight: bolder;
	color: #841E43;

}

/* .middle h3 {
	hehehawhaw
} */

.middle a.button {
	margin: 100px;
	background-color: #FDCEDF;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

	border: 2px solid black;
	padding-left: 6px;
	padding-right: 6px;
}
